
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
    background-color: #000000;
}

@font-face {
  font-family: 'Hanson';
  src: url('Recursos/Addicionales/hanson/Hanson-Bold.otf') format('opentype'),
       url('Recursos/Addicionales/hanson/Hanson-Bold.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hanson Hairline';
  src: url('Recursos/Addicionales/hanson/HANSON-HAIRLINE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.contenedorEventos {
    position: relative;
    background-color: #000000;
    min-height: 100vh;
    padding: 100px 5vw;
    z-index: 4;

}

.contenedorEventos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* La altura que ocupará el degradado */
    transform: translateY(-100%); /* Lo empujamos para que asome por encima del borde superior del contenedor negro */
    background: linear-gradient(to bottom, transparent 0%, #000000 150%);
    pointer-events: none;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* Fondo */
.capa-bg {
    background-image: url('Recursos/fondoNachoRomaPC.jpg'); 
    z-index: 1;
}


.capa-nacho {
    background-image: url('Recursos/NachoSinFondo.png');
    z-index: 2;
    pointer-events: none; 
}

/* Contenedor del Texto */
.capa-text {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.letras-nacho {
    font-family: Hanson, sans-serif;
    color: white;
    font-size: 9vw; 
    line-height: 1;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    text-shadow: 0 10px 30px rgba(0,0,0,0.5);
    
}



/* Oscurecer el fondo con un gradiente */
.hero-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.9));
}

.evento-row {
    color: white;
    font-family: Hanson, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
    text-shadow: 0 5px 15px rgba(0,0,0,1);
}

/*HEADER*/

.header {
    position: sticky;
    top: 0;
    padding: 0%;
    margin: 0;

    font-family: Hanson Hairline, sans-serif;
    font-size: xx-large;
    color:white;

    display: flex;
    justify-content: center;
    z-index: 10;
}

.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color:white;
  padding-bottom: 5px;
}

