---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import Fechas from "../components/fechas.astro";
import Contacto from "../components/contacto.astro";
import Galeria from "../components/galeria.astro";
import Footer from "../components/footer.astro";
---

<Layout
  title="Nacho Romá - DJ"
  description="¿Preparado para la fiesta? Apunta la fecha y el lugar y nos veremos allí ;)"
>

  <main>
    <Hero />
    <Fechas />
    <Galeria />
    <Contacto />
    <Footer />
  </main>
</Layout>
