---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import Fechas from "../components/fechas.astro";
import Contacto from "../components/contacto.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
---

<Layout
  title="Nacho Romá"
  description="¿Preparado para la fiesta? Apunta la fecha y el lugar y nos veremos allí ;)"
>

<main>
    <Header />
    <Hero />
    <Fechas />
    <Contacto />
  </main>

  <Footer />
</Layout>
