---

---

<header class="fixed w-full top-0 z-50 bg-transparent">
  <nav class="flex justify-center items-center h-7 gap-x-14 relative">
    <a
      href="#inicio"
      aria-current="page"
      class="font-hanson font-thin text-white tracking-[0.15em] text-sm uppercase no-underline transition-colors duration-300"
    >
      Inicio
    </a>
    <a
      href="#fechas"
      class="font-hanson font-thin text-white/60 tracking-[0.15em] text-sm uppercase no-underline transition-colors duration-300 hover:text-white/90"
    >
      Fechas
    </a>
    <a
      href="#contacto"
      class="font-hanson font-thin text-white/60 tracking-[0.15em] text-sm uppercase no-underline transition-colors duration-300 hover:text-white/90"
    >
      Contacto
    </a>

    <!-- Indicador de sección activa -->
    <div
      class="indicator absolute bottom-0 left-[calc(50%-10rem)] h-[1px] w-15 bg-white "
      aria-hidden="true"
    ></div>
  </nav>
</header>