<div  id="inicio" class="w-full relative">
    <img class ="w-100px" 
    src="/Foto_escritorio.jpg"
    >

    <span>NACHO ROMÁ</span>

    <img class ="w-100px" 
    src="/Foto_escritorio_sinFondo.png"
    >

</div>
