---

---
<section id="hero" class="md:sticky md:top-0 relative w-full h-screen bg-black">
  <div class="absolute inset-0 overflow-hidden">

    <img 
      src="/Foto_escritorio.webp" 
      class="capa-bg absolute inset-0 w-full h-full object-cover object-center md:object-top z-0" 
      alt="Nacho con fondo" 
      fetchpriority="high"
      loading="eager"
      decoding="sync"
    />

    <div class="letras-nacho flex absolute inset-0 items-center justify-center z-60 md:z-10">
      <h1 class="font-family-hanson font-bold text-white text-[20vw] md:text-[10vw] leading-none text-center select-none flex gap-x-[8vw] ">
        <span>NACHO <br class="block md:hidden"/> ROMÁ </span>
        
       
      </h1>
    </div>

    
    
    
    <img 
      src="/Foto_escritorio_sinFondo.webp" 
      class="capa-nacho absolute inset-0 w-full h-full object-cover object-center md:object-top z-20" 
      alt="Nacho sin fondo" 
      fetchpriority="high"
      loading="eager"
      decoding="sync"
    />

    <div class="hero-overlay absolute inset-0 bg-black opacity-0 z-30 pointer-events-none"></div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  document.addEventListener("DOMContentLoaded", () => {
    let mm = gsap.matchMedia();

    // ── ESCRITORIO ────────────────────────────────────────
    mm.add("(min-width: 768px)", () => {

      // Siguiente sección por encima del hero al hacer scroll
      const nextSection = document.querySelector<HTMLElement>("#hero + section");
      if (nextSection) {
        nextSection.style.position = "relative";
        nextSection.style.zIndex = "10";
      }

      const tlEntrada = gsap.timeline();
      tlEntrada
        .from([".capa-bg", ".capa-nacho"], {
          duration: 2,
          scale: 1.1,
          ease: "power3.inOut",
        })
        .from(".letras-nacho", {
          duration: 2,
          y: 100,
          scale: 0.8,
          opacity: 0,
          ease: "expo.out",
        }, "-=1");

      // Parallax al hacer scroll
      tlEntrada.then(() => {
        ScrollTrigger.refresh();

        const scrollCfg = {
          trigger: "#hero",
          start: "top top",
          end: "bottom top",
          scrub: 1.5,
        };

        // Fondo: lento
        gsap.to(".capa-bg,.capa-nacho", {
          y: -80,
          ease: "none",
          scrollTrigger: scrollCfg,
        });

        // Letras: rápido
        gsap.to(".letras-nacho", {
          y: -280,
          ease: "none",
          scrollTrigger: scrollCfg,
        });
      });

    });

  });
</script>